* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  background-color: #67568c;
  grid-area: header;
  padding: 1em;
}

h1 {
  margin-bottom: 10px; /* Adjust the margin as needed */
  color: #ffffff;
}

.headshot {
  width: 100px;
  margin-bottom: -20px; /* Adjust the margin as needed */
}

nav {
  display: flex;
  align-items: flex-start; /* Adjust alignment for smaller screens */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

nav li {
  margin-bottom: 10px; /* Adjust the margin as needed */
  color: #ffffff;
  font-size: 20px;
  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative; /* Ensure a stacking context for pseudo-elements */
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  transform: scaleX(0); /* Initially set to zero width */
  transition: transform 0.3s ease; /* Add a transition effect */
}

nav a:hover::before {
  transform: scaleX(1); /* Expand to full width on hover */
}

main {
  grid-area: main;
  padding: 1em;
}

footer {
  grid-area: footer;
  background-color: #67568c;
  color: white;
  padding: 1em;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

h1 {
  margin-right: 18em; /* Adjust the margin as needed */
  margin-bottom: 0px;
}

nav {
  align-items: center;
}

nav ul {
  flex-direction: row; /* Display horizontally on larger screens */
}

nav li {
  margin-bottom: 0px; /* Adjust the margin as needed */
  margin-right: 5em;
}
}