* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


/* Styling for the header section */
header {
  background-color: #67568c;
  padding: 1em;
}

/* Flex container for the header content */
.container {
  display: flex;
  flex-direction: column;
}

/* Styling for the main heading */
h1 {
  margin-bottom: 10px; 
  color: #ffffff;
}

/* Styling for the headshot image */
.headshot {
  width: 20%;
}

/* Styling for the navigation */
nav {
  display: flex;
  align-items: flex-start; /* Adjust alignment for smaller screens */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

nav li {
  margin-bottom: 10px; 
  color: #ffffff;
  font-size: 20px;
  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  position: relative; /* Ensure a stacking context for pseudo-elements */
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: -7.5px;
  transform: scaleX(0); /* Initially set to zero width */
  transition: transform 0.3s ease; /* Add a transition effect */
}

nav a:hover::before {
  transform: scaleX(1); /* Expand to full width on hover */
}


/* Styling for the hero banner section */
.hero-banner {
  height: 200px;
  background-image: url(/assets/images/marble.jpg);
  position: relative;
}

.hero-banner h2 {
  color: #000000;
  position: relative;
  z-index: 1; /* Ensure the text is above the background */
}

.hero-banner h2::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  background-color: #84a8e8;
  z-index: -1;
}

/* Styling for the subtitle section */
#subtitle {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2em;
}

/* Styling for the main page content wrapper using CSS Grid */
.page-wrapper {
  display: grid;
  grid-template-areas: 
  'about-me about-me-text'
  'work work-text'
  'contact-me contact-me-text'
  'cv cv-image';
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 1fr 1fr;
}

.page-section {
  position: relative;
}

.page-section::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 75%;
  width: 4px;
  background-color: #67568c;
}

/* Specific styling for certain sections to hide the divider line */
#about-me-text::after,
#work-text::after,
#contact-me-text::after,
#cv-image::after {
  content: none;
}

#about-me {
  grid-area: about-me;
  min-height: 200px;
  text-align: right;
  padding: 2em
}

#about-me-text {
  grid-area: about-me-text;
  padding: 2em;
}

#work {
  grid-area: work;
  min-height: 200px;
  text-align: right;
  padding: 2em
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#work-text {
  grid-area: work-text;
  padding: 2em;

/* Styling for individual project sections in the "Work" section */
  display: grid;
  grid-template-areas: 
  'main-project main-project'
  'small1 small2'
  'small3 small4';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  }

  #main-project {
    grid-area: main-project;
    background-image: url(/assets/images/02-portfolio-4.jpg);
    margin: 0.5em;
    
  }

  #small1 {
    grid-area: small1;
    background-image: url(/assets/images/02-portfolio-1.jpg);
    margin: 0.5em;
  }

  #small2 {
    grid-area: small2;
    background-image: url(/assets/images/02-portfolio-2.jpg);
    margin: 0.5em;
  }

  #small3 {
    grid-area: small3;
    background-image: url(/assets/images/02-portfolio-3.jpg);
    margin: 0.5em;
  }

  #small4 {
    grid-area: small4;
    background-image: url(/assets/images/02-run-buddy.jpg);
    margin: 0.5em;
  }

#contact-me {
  grid-area: contact-me;
  min-height: 200px;
  text-align: right;
  padding: 2em
}

#contact-me-text {
  grid-area: contact-me-text;
  padding: 2em;
}

.page-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row; /* Stack items vertically */
}

.page-section li {
  font-size: 20px;
  position: relative;
  padding: 1em;
}

.page-section a {
  text-decoration: none;
  text-transform: uppercase;
  position: relative; /* Ensure a stacking context for pseudo-elements */
}

#cv {
  grid-area: cv;
  min-height: 200px;
  text-align: right;
  padding: 2em
}

#cv-image {
  grid-area: cv-image;
  padding: 2em;
}

footer {
  background-color: #67568c;
  color: white;
  padding: 1em;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  flex-direction: row;
}

.headshot {
  width: 20%;
  min-width: 75px;
  min-height: 75px;
  object-fit: contain;
}

h1 {
  margin-bottom: 0px;
  padding: 1em;
}

nav {
  align-items: center;
}

nav ul {
  flex-direction: row; /* Display horizontally on larger screens */
}

nav li {
  margin-bottom: 0px;
  margin-right: 5em;
}

nav a::before {
  top: -10px;
}
}